POSTGRES_USER=recipe_app
POSTGRES_PASSWORD=recipe_app_password
POSTGRES_DB=recipe_app_development
DATABASE_HOST=db
DATABASE_USERNAME=recipe_app
DATABASE_PASSWORD=recipe_app_password
DATABASE_NAME=recipe_app_development
DATABASE_TEST_NAME=recipe_app_test
FRONTEND_ORIGIN=http://localhost:3001
